# Litellm compatible API Keys for Placeholder usage
OPENAI_API_KEY="your-openai-api-key"
GEMINI_API_KEY="your-gemini-key"
GROQ_API_KEY="your-groq-api-key"

# Later for huggingface testing:
# HF_TOKEN="your-huggingface-token"

# LangSmith / LangChain tracing
LANGCHAIN_API_KEY="your-langchain-api-key"
LANGCHAIN_TRACING_V2="true"
